.wrapper {
    font-size: 14px;
    font-weight: 400;
    min-width: 100px;
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid transparent;
    margin: 5px 10px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 100%;
    transition: all linear 0.25s;
    user-select: none;

    .title {
        text-transform: capitalize;
    }
}

// button type
.primary, .danger {
    background-color: var(--primaryLight);
    transition: all linear 0.25s;

    .title, .icon {
        color: var(--white);
    }

    .icon + .title, .title + .icon {
        padding-left: 10px;
    }

    &:hover {
        background-color: var(--primary);
    }
}

.outline {
    border-color: var(--primary);
    transition: all linear 0.25s;

    .title, .icon {
        color: var(--primary);
    }

    .icon + .title, .title + .icon {
        padding-left: 10px;
    }

    &:hover {
        background-color: var(--primary);

        .title, .icon {
            color: var(--white);
        }
    }
}

.transparent {
    background: none;
    // color: var(--black);
    border-color: transparent;
    
    .title, .icon {
        color: var(--black);
        transition: all linear 0.25s;
    }

    .icon + .title, .title + .icon {
        padding-left: 10px;
    }

    // &:hover {
    //     .title, .icon {
    //         color: #657ef8;
    //     }
    // }
}

.light {

    .title, .icon {
        color: var(--white);
    }

    .icon + .title, .title + .icon {
        padding-left: 10px;
    }

    &:hover {

        .title, .icon {
            color: #657ef8;
        }
    }
}

.disabled {
    background-color: #6c757d;

    .title, .icon {
        color: var(--white);
    }

    .icon + .title, .title + .icon {
        padding-left: 10px;
    }

    &:hover {
        background-color: #6c757d;
    }
}

.view {
    background-color: #00b4d7;
    transition: all linear 0.25s;

    .title, .icon {
        color: var(--white);
    }

    .icon + .title, .title + .icon {
        padding-left: 10px;
    }

    &:hover {
        background-color: #14a4c1;
    }
}

.edit {
    background-color: #ffc107;
    transition: all linear 0.25s;

    .title, .icon {
        color: var(--white);
    }

    .icon + .title, .title + .icon {
        padding-left: 10px;
    }

    &:hover {
        background-color: #e0a800;
    }
}

.primary.active {
    background-color: var(--primary);
}

.outline.active {
    background-color: var(--primary);

    .title {
        color: var(--white);
    }

    .icon {
        color: var(--white);
    }
}

// button size 
.small {
    padding: 2.5px 7.5px;
    min-width: 80px;

    .title {
        font-size: 12px;
    }

    .icon {
        font-size: 12px;
    }
}

.medium {
    padding: 5px 15px;
    min-width: 115px;
    height: 40px;
    line-height: 30px;

    .title {
        font-size: 14px;
    }

    .icon {
        font-size: 14px;
    }
}

.large {
    padding: 10px 0;
    // min-width: 350px;
    width: 100%;
    margin: 10px 0;

    .title {
        font-size: 18px;
        font-weight: 400;
    }

    .icon {
        font-size: 20px;
    }
}

// animation
.wrapper.scale {
    &:hover {
        transform: scale(1.2);
    }
}

.wrapper.rotate {
    &:hover {
        transform: rotate(180deg);
    }
}


