.wrapper {
    // display: flex;
    width: 100%;
    padding: 0 60px;
    // flex-wrap: wrap;
    // flex-direction: row;    

    .contentWrap {
        width: 100%;
        display: flex;

        .article {
            width:100%;

            .articleDate {
                margin-top: 10px;
                font-size: 14px;
                line-height: 22px;
                color: #999;
            }

            .articleCategory {
                margin-top: 10px;
                font-size: 14px;
                line-height: 22px;
                color: var(--white);
                display: inline-block;
                padding: 2.5px 10px;
                border-radius: 4px;
            }

            .articleCategory.animeCate {
                background-color: var(--primary);
            }

            .articleCategory.mangaCate {
                background-color: #99cc33;
            }

            .articleCategory.infoCate {
                background-color: #ffc000;
            }

            .articleImgWrapper {
                width: 100%;
                text-align: center;
                margin: 15px 0;

                .articleImg {
                    min-width: 720px;
                    text-align: center;
                }

            }

            .articleDesc {
                font-size: 14px;
                color: var(--white);
                line-height: 24px;
                margin: 10px 0;
                letter-spacing: 1.5px;
            }            
            
        }

        .sidebarWrap {
            width: 25%;
            padding: 0 5px;
            position: relative;
        }
    }
}