.wrapper {
    background-color: var(--white);
    width: 100%;
    padding: 10px;

    .heading {
        color: var(--black);
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 0.6px;
        -webkit-user-select: none;
        user-select: none;
        text-transform: capitalize;
    }

    .table {
        user-select: none;
    }

    .subUseractive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;

        .subNavLeft {
            display: flex;
            align-items: center;

            .iconPrev,
            .iconNext {
                font-size: 18px;
                color: var(--black);
                background-color: transparent;
                padding: 15px;
                width: 20px;
                height: 20px;
                margin: 0 10px;
                border-radius: 50%;
                transition: var(--transitionPrimary);
                cursor: pointer;

                &:hover {
                    background-color: var(--primary);
                    color: var(--white);
                }
            }

            .date {
                margin-left: 15px;
            }
        }

        .subNavRight {
            user-select: none;
        }

    }
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // min-height: calc(300px - 20px);
    min-height: 180px;

    .heading {
        font-size: 22px;
        font-weight: 600;
        color: var(--black);
        text-transform: capitalize;

    }

    .body {
        user-select: none;

        .delete {

            .title {
                margin: 15px 0 0;
                font-size: 16px;
                font-weight: 600;
            }

            p {
                margin: 10px 0;
                font-size: 16px;
                font-weight: 400;
                text-transform: capitalize;

                b {
                    margin-left: 5px;
                    font-size: 18px;
                    font-weight: 600;
                    text-transform: none;
                }
            }            
        }
    }

    .userActive {
        display: flex;
        justify-content: flex-end;
    }
}