.inputWrap {
    width: 100%;
    min-height: 120px;
    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.25s ease;
    position: relative;
    color: var(--white);
    letter-spacing: 1px;
    // overflow: hidden;

    &:hover {
        border-color: var(--primary);
    }

    &:empty::before {
        content: attr(placeholder);
        color: var(--textColor); 
    }
}



.yourAction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 20px;

    .extend {
        .emojiIcon {
            color: #8592a3;
            font-size: 24px;
            padding: 5px;
            margin-right: 10px;
            cursor: pointer;
        }

        .imageIcon {
            color: #8592a3;
            font-size: 24px;
            padding: 5px;
            margin-right: 10px;
            cursor: pointer;
        }
    }

}